<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/jquery/jquery-1.8.2.min.js"></script>
    <script src="../js/lhgdialog/lhgdialog.min.js"></script>
    <script src="../js/cnyui-framework.js"></script>
</head>
<body>
checkbox1:<input type="checkbox"/>checkbox2:<input type="checkbox"/>
radio1:<input name="radio" type="radio"/>radio2:<input  name="radio" type="radio"/>radio3:<input  name="radio" type="radio"/>
测试连接的页面
<script>
    $(document).click(function (e) {
        alert('aaa');
    });
    $(document).click(function (e) {
        alert('bbb');
    });

</script>
</body>
</html>